*, *:before, *:after {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  height: 100%;
  font-size: 10px;
  min-width: 320px;
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  overflow-y: auto;
}

body {
  @include f_text_ep-roman(1.6rem, 1.42);
  min-height: 100%;
  height: 100%;
  min-width: 320px;
  display: flex;
  flex-flow: row nowrap;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
