<template>
  <div class="steps">
    <Step1 @submit="nextStep" v-if="currentStep === 1"/>
    <div v-else-if="currentStep === 2">
      {{ data }}
    </div>
    <Step2 v-else-if="currentStep === 2"/>
    <Step3 v-else-if="currentStep === 3"/>
  </div>
</template>

<script>
import Step1 from './Step1'
import Step2 from './Step2'
import Step3 from './Step3'

const maxStepsCount = 3

export default {
  name: 'Steps',
  components: {
    Step1,
    Step2,
    Step3
  },
  data: () => ({
    currentStep: 1,
    data: {}
  }),
  methods: {
    nextStep (data) {
      this.data = { ...this.data, ...data }
      if (this.currentStep < maxStepsCount) {
        this.currentStep = this.currentStep + 1
      }
    }
  }
}
</script>

<style scoped lang="scss">
  .steps {
    height: 100%;
  }
</style>
