<template>
    <div class="form">
      <div class="row">
        <AutocompleteField v-model="form.from"
                           :receive-data-func="getAirports"
                           :dropdown-style="{ top: '81px' }">
          <template v-slot:default="slotProps">
            <div :class="{ 'has-error': errors.from }">
              <label class="field-name" for="from">
                From
                <abbr title="required">*</abbr>
              </label>
              <input class="text-field"
                     type="text"
                     @input="slotProps.inputHandler($event.target.value)"
                     :value="slotProps.text"
                     id="from">
              <span class="error-text" v-show="errors.from && errors.from.required">Can't be blank</span>
            </div>
          </template>
        </AutocompleteField>
      </div>

      <div class="row">
        <AutocompleteField v-model="form.to"
                           :receive-data-func="getAirports"
                           :dropdown-style="{ top: '81px' }">
          <template v-slot:default="slotProps">
            <div :class="{ 'has-error': errors.to }">
              <label class="field-name" for="to">
                To
                <abbr title="required">*</abbr>
              </label>
              <input class="text-field"
                     type="text"
                     @input="slotProps.inputHandler($event.target.value)"
                     :value="slotProps.text"
                     id="to">
              <span class="error-text" v-show="errors.to && errors.to.required">Can't be blank</span>
            </div>
          </template>
        </AutocompleteField>
      </div>

      <div class="row">
        <AutocompleteField v-model="form.via"
                           :receive-data-func="getAirports"
                           :dropdown-style="{ top: '81px' }">
          <template v-slot:default="slotProps">
            <div>
              <label class="field-name" for="via">Via</label>
              <input class="text-field"
                     type="text"
                     @input="slotProps.inputHandler($event.target.value)"
                     :value="slotProps.text"
                     id="via">
            </div>
          </template>
        </AutocompleteField>
      </div>

      <div class="row m-25">
        <label class="field-name" for="passengers-count">Number of passengers</label>
        <select class="select-field"
                v-model="form.passengersCount"
                id="passengers-count">
          <option v-for="num in 999"
                  :key="num"
                  :value="num">{{ num }}</option>
        </select>
      </div>

      <div class="row m-25">
        <div class="row">
          <div class="radio-group" v-for="type in flightTypes" :key="type.id">
            <input class="radio-field"
                   type="radio"
                   :id="type.id"
                   :value="type.id"
                   v-model="form.type">
            <label class="field-name"
                   :for="type.id">
              {{ type.name }}
            </label>
          </div>
        </div>
      </div>

      <div class="row m-25">
        <div class="radio-group" v-for="cls in classes" :key="cls.id">
          <input class="radio-field"
                 type="radio"
                 :id="cls.id"
                 :value="cls.id"
                 v-model="form.class">
          <label class="field-name"
                 :for="cls.id">
            {{ cls.name }}
          </label>
        </div>
      </div>
      <div class="row row-flex">
        <button class="btn" type="button" @click="submit">Calculate</button>
      </div>
    </div>
</template>

<script>
import AutocompleteField from '../common/AutocompleteField'
import {
  classes,
  flightTypes,
  airports
} from '../../data'

const requiredFields = ['from', 'to']

export default {
  name: 'Step1',
  components: {
    AutocompleteField
  },
  data: () => ({
    classes,
    flightTypes,
    errors: {},
    form: {
      from: null,
      to: null,
      via: null,
      type: flightTypes[0].id,
      passengersCount: 1,
      class: classes[0].id
    }
  }),
  methods: {
    getAirports ({ str }) {
      return Promise.resolve(airports.filter(({ name }) => name.toUpperCase().includes(str.toUpperCase())))
    },
    validate () {
      for (const fieldName in this.form) {
        if (!requiredFields.includes(fieldName)) {
          continue
        }

        if (this.form[fieldName]) {
          this.errors[fieldName] = null
        } else {
          this.errors[fieldName] = { required: true }
        }
      }
      return !Object.keys(this.form).some((fieldName) => requiredFields.includes(fieldName) && !this.form[fieldName])
    },
    submit () {
      if (!this.validate()) {
        this.$forceUpdate()
        return
      }
      this.$emit('submit', this.form)
    }
  }
}
</script>

<style scoped lang="scss">
  $fieldHeight: 40px;
  $fieldNameColor: #000;
  $fieldBorderColor: #000;
  $errorColor: #a94442;

  .form {
    padding: 15px;
    .row {
      margin: 15px 0;
      &.m-25 {
        margin: 25px 0;
      }
      &:first-child {
        margin-top: 0;
      }

      .text-field, .field-name {
        width: 100%;
      }
      .field-name {
        width: 100%;
        font-weight: bold;
        font-size: 25px;
        margin-bottom: 7px;
        display: block;
        color: $fieldNameColor;
        abbr {
          text-decoration: none;
          border-bottom: 0;
        }
      }
      .error-text {
        display: inline-block;
        color: $errorColor;
        font-size: 18px;
        margin-top: 5px;
      }
      .text-field {
        height: $fieldHeight;
        padding: 15px 0;
        font-size: 18px;
        border: 0;
        border-bottom: 2px solid $fieldBorderColor;
        outline: none;
      }
      .select-field {
        display: block;
        height: $fieldHeight;
        width: 100%;
        border: 2px solid $fieldBorderColor;
        padding: 7px 10px;
        outline: none;
      }
      .radio-group {
        .radio-field {
          margin-right: 5px;
        }
        .field-name {
          display: inline;
          font-size: 20px;
        }
      }
      .btn {
        display: block;
        width: 100%;
        max-width: 250px;
        height: 74px;
        border: 0;
        background: #6eaa28;
        color: #fff;
        font-size: 20px;
        font-weight: bold;
        text-transform: uppercase;
        outline: none;
      }

      .has-error {
        .field-name {
          color: $errorColor;
        }
        .text-field {
          border-bottom: 2px solid $errorColor;
        }
      }
    }
  }
  @media all and (max-width: 700px) {
    .btn {
      margin: 0 auto;
    }
  }
</style>
