<template>
  <div class="autocomplete-field">
    <slot :text="text" :inputHandler="inputHandler"/>
    <ul class="dropdown" :style="dropdownStyle" v-show="dropdownVisibility">
      <li class="no-result" v-show="!list.length">
        <div>
          Cant find anything
        </div>
      </li>
      <li v-for="item in list" :key="item[idField]" @click="selectHandler(item)">{{ item[nameField] }}</li>
    </ul>
  </div>
</template>

<script>
import { throttle } from '../../helpers'

export default {
  name: 'AutocompleteField',
  props: {
    idField: {
      type: String,
      default: 'id'
    },
    nameField: {
      type: String,
      default: 'name'
    },
    receiveDataFunc: Function,
    dropdownStyle: {
      type: Object,
      default: () => ({})
    }
  },
  data: () => ({
    dropdownVisibility: false,
    text: '',
    list: []
  }),
  created () {
    const that = this
    this.inputHandler = throttle(function (val) {
      that.search(val)
    }, 750)
  },
  mounted () {
    window.addEventListener('click', this.clickDocument)
  },
  beforeDestroy () {
    window.removeEventListener('click', this.clickDocument)
  },
  methods: {
    clickDocument () {
      if (this.dropdownVisibility) {
        this.dropdownVisibility = false
      }
    },
    selectHandler (item) {
      this.text = item[this.nameField]
      this.$emit('input', item[this.idField])
    },
    search (str) {
      this.text = str
      if (this.value) {
        this.$emit('input', null)
      }
      if (str && str.length >= 1) {
        this.receiveDataFunc({ str }).then((result) => {
          this.list = result
          this.dropdownVisibility = true
        })
      }
    }
  }
}
</script>

<style scoped lang="scss">
  .autocomplete-field {
    position: relative;
    .dropdown {
      width: 100%;
      top: 81px;
      z-index: 5;
      position: absolute;
      box-shadow: 4px 4px 4px #666;
      border-radius: 0 0 4px 4px;
      background-color: #fff;
      border: 1px solid #aaa;
      font-size: 15px;
      list-style-type: none;
      max-height: 200px;
      overflow-y: auto;
      overflow-x: hidden;
      padding: 0;
      li {
        padding: 5px;

        &.no-result {
          &:hover {
            background: white;
            cursor: not-allowed;
          }
        }
      }
    }
  }
</style>
