<template>
  <div id="app">
    <Steps/>
  </div>
</template>

<script>
import Steps from './components/steps/index'

export default {
  name: 'App',
  components: {
    Steps
  }
}
</script>

<style>
#app {
  max-width: 500px;
  width: 100%;
}
</style>
