/*

responsive

*/
$screen-xss: 375px;
$screen-xs: 480px;
$screen-xl: 640px;
$screen-sm: 768px;
$screen-md: 1024px;
$screen-hdready: 1360px;
$screen-lg: 1600px;
$screen-hd: 1920px;

@mixin mobile-land {
  @media (min-width: 0) and (orientation: landscape) and (max-width: $screen-sm - 1px) {
    @content;
  }
}

@mixin mobile-port {
  @media (min-width: 0) and (orientation: portrait) and (max-width: $screen-sm - 1px) {
    @content;
  }
}

@mixin only-mobile {
  @media (min-width: 0) and (max-width: $screen-sm - 1px) {
    @content;
  }
}

@mixin xss {
  @media (min-width: #{$screen-xss}) {
    @content;
  }
}

@mixin xs {
  @media (min-width: #{$screen-xs}) {
    @content;
  }
}

@mixin xs-port {
  @media (min-width: #{$screen-xs}) and (orientation: portrait) {
    @content;
  }
}

@mixin xs-land {
  @media (min-width: #{$screen-xs}) and (orientation: landscape) {
    @content;
  }
}

@mixin xl {
  @media (min-width: #{$screen-xl}) {
    @content;
  }
}

@mixin xl-port {
  @media (min-width: #{$screen-xl}) and (orientation: portrait) {
    @content;
  }
}

@mixin xl-land {
  @media (min-width: #{$screen-xl}) and (orientation: landscape) {
    @content;
  }
}

@mixin sm {
  @media (min-width: #{$screen-sm}) {
    @content;
  }
}

@mixin sm-only {
  @media (min-width: #{$screen-sm}) and (max-width: $screen-md - 1px) {
    @content;
  }
}

@mixin sm-port {
  @media (min-width: #{$screen-sm}) and (orientation: portrait) {
    @content;
  }
}

@mixin sm-land {
  @media (min-width: #{$screen-sm}) and (orientation: landscape) {
    @content;
  }
}

@mixin md {
  @media (min-width: #{$screen-md}) {
    @content;
  }
}

@mixin hdready {
  @media (min-width: #{$screen-hdready}) {
    @content;
  }
}

@mixin lg {
  @media (min-width: #{$screen-lg}) {
    @content;
  }
}

@mixin hd {
  @media (min-width: #{$screen-hd}) {
    @content;
  }
}

@mixin height-xss {
  @media (min-height: #{$screen-xss}) {
    @content;
  }
}

@mixin height-xs {
  @media (min-height: #{$screen-xs + 40 + 40}) {
    @content;
  }
}

@mixin height-xl {
  @media (min-height: #{$screen-xl}) {
    @content;
  }
}

@mixin height-sm {
  @media (min-height: #{$screen-sm}) {
    @content;
  }
}

@mixin height-md {
  @media (min-height: 980px) {
    @content;
  }
}
