// colors
$cl-white: #ffffff;
$cl-black: #000000;
$cl-grey-01: #f1f2f2;
$cl-grey-02: #e6e7e8;
$cl-grey-03: #dadada;
$cl-grey-04: #a8a8a7;
$cl-grey-05: #7c7c7b;
$cl-grey-06: #575756;
$cl-card-bg: #ebebeb;
$red: #d91e19;
$amber: #ffb81c;
$green: #008000;

// fonts
$browser-context: 16;
$f_headline: 'CreditSuisseHeadlineWeb-Regular', CSTypeEP, Arial, Helvetica, sans-serif;
$f_text_ep-bold: 'CSTypeEP-Bold', Arial, Helvetica, sans-serif;
$f_text_ep-light: 'CSTypeEP-Light', Arial, Helvetica, sans-serif;
$f_text_ep-lightItalic: 'CSTypeEP-LightItalic', Arial, Helvetica, sans-serif;
$f_text_ep-roman: 'CSTypeEP-Roman', Arial, Helvetica, sans-serif;
$f_text_ep-romanItalic: 'CSTypeEP-RomanItalic', Arial, Helvetica, sans-serif;

// for messages
$messagesFieldPadding: 20px;
$messagesPadding: 15px;
$messagesCorner: 10px;
$messagesCommonMargin: $messagesPadding + $messagesCorner;

// for layout
$maxWidgetWidth: 600px;
$maxWidgetHeight: 580px;
$headerHeight: 50px;
$footerControlHeight: 40px;
//$previewPaddingSmall: 40%;
//$previewPadding: 58%;
$logoWidth: 120px;
$logoHeight: 40px;
$topOffsetXss: 104px;
$topOffsetXl: 104px;
